<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="assets/img/Logo.png" alt=""></a>
            <ul>
                <li><a href="/whyalivio.html"> Why Alivio</a></li>
                <li><a href="/solution">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
            <button id="sign">Sign In</button>
            <button id="start">Start Trial</button>
        </nav>
    </header>
    <article id="Beaware">
        <div>
            <ul>
                <li class="be">Be aware,</li>
                <li class="mange">Manage well.</li>
                <li class="everyone">Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</li>
                <li class="find"> Find Your Way</li>
            </ul>
        </div>
    </article>

    <main id="CommunityMain">
       
            <div class="Card">
                <img src="assets/img/girl.png" alt="">
                <div class="BoxMikayla">
                        <ul>
                            <li class="Customized">Customized For</li>
                            <li><img src="assets/img/girl.png" alt=""></li>
                            <li class="Mikayla">Mikayla</li>
                            <li class="YourCustom">Your custom contents</li>
                            <li class="anger">• Understand Your Stress</li>
                            <li class="anger"> • Anger Management</li>
                        </ul>
                </div>
            </div>

            <div class="Our">
                <ul>
                    <li class="product">Our Product</li>
                    <li class="youTell"> You tell us your stress, </li>
                    <li class="Wemake">We make your diary</li>
                    <li class="every">Everyone experiences it, and in different ways.</li>
                    <li class="every2"> Let Alivio guide you, in a personalized journal experience, to overcome your stress.</li>
                    <li class="find2"> Find Your Way</li>
                </ul>
            </div>
        
    </main>

    <footer>
        <ul>
            <li><a href="/">ALIVIO</a></li>
            <li><a href="/whyalivio"> Why Alivio</a></li>
            <li><a href="/solution">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>