<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="assets/img/Logo.png" alt=""></a>
            <ul>
                <li><a href="/whyalivio"> Why Alivio</a></li>
                <li><a href="/solution">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
            <button id="sign">Sign In</button>
            <button id="start">Start Trial</button>
        </nav>
    </header>

    <article id="Beaware">
        <div>
            <ul>
                <li class="be">Be aware,</li>
                <li class="mange">Manage well.</li>
                <li class="everyone">Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</li>
                <li class="find"> Find Your Way</li>
            </ul>
        </div>
    </article>

    <main id="HomeMain">
        <section id="HowItWorks">
            <div class="understand">
                <ul>
                    <li>How it works</li>
                    <li class="thestress"> Understand & Release  </li>
                    <li class="thestress"> the stress in 3 steps</li>
                </ul>
            </div>
            <div class="alivioText">
                <p>Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.</p>
            </div>
        </section>

        <section id="HomeImg">
            <div class="FirstDiv">
                <ul>
                    <li class="Pers">Personalize</li>
                    <li class="answer">Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!</li>
                    <li><img src="assets/img/Rec1.png" alt=""></li>
                </ul>
            </div>
            <div class="SecondDiv">
                <ul>
                    <li class="write">Write & Understand</li>
                    <li class="WriteDraw">Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!</li>
                    <li><img src="assets/img/Rec2.png" alt=""></li>
                </ul>
            </div>
            <div class="TherdDiv">
                <ul>
                    <li class="aliv">Alivio!</li>
                    <li class="nowYou">Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!</li>
                    <li><img src="assets/img/Rec3.png" alt=""></li>
                </ul>
        </div>
        </section>
    </main>

    <footer>
        <ul>
            <li><a href="/">ALIVIO</a></li>
            <li><a href="/whyalivio"> Why Alivio</a></li>
            <li><a href="/solution">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>